.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  background-image: url(https://raw.githubusercontent.com/ChrisStayte/ReactDex/master/src/pattern.png);
  padding-top: 4rem;
  min-height: 100vh;
}

body {
  background-color: transparent !important;
}


.navbar{
  background-color: #ef5350 !important;
}

.nav{
  align-items: center;
  color: white;
  margin: o;
}

.list{
  padding-top: 1em;
  padding-bottom: 1em;
}

.pokedex{
  width: 40px;
  padding-right: 1em;
}

